.media_block
  img.float_left(src=content.image)
  .content
    h5
      small= 'Emergency in ' + content.city + ':'
      h1= content.title
      p= content.message
      p
        a(href=content.link) Read More &rarr;
      small= 'Last updated at: ' + content.last_updated